<p>Based on your response/role, you have been assigned the '<%= @user.tier.description %>' tier. You will be allowed to log in on <%= @user.tier.available.strftime("%a %-d %b %Y %T %Z") %> to reserve your lodging for the camp out.</p>
<p>If you have any questions or feel you have not been assigned the correct tier, please contact us at fnfreservations@gmail.com.</p>
<p>Please add fnfreservations@gmail.com to your approved senders list to avoid emails going into the SPAM folder.</p>
<p>Thanks!</p>
<p>FnF <%= Time.new.year %> Cabins<br/><a href="https://cabins.inappropirates.com">https://cabins.inappropirates.com</a></p>
