<div class="row">
  <%= link_to 'welcome posts', {:controller => 'posts', :action => 'index', :category => 'welcome'}, class: 'link link-primary' %>
  <%= link_to 'rule posts', {:controller => 'posts', :action => 'index', :category => 'rule'}, class: 'link link-primary' %>
</div>
