<div class="row">
  <div class="status alert-success">
    <div><strong>Thank you for pre-registering!</strong></div>
    <br/><br/>
    <div>back to the <a href="<%= home_path %>">home page</a></div>
  </div>
</div>
