<p>You have successfully reserved <%= @reservation.accommodation.get_label %> for the <%= Time.new.year %> FnF camp out. If you paid at check out, you will receive a separate email with payment confirmation. If you have not yet paid for your room, payment must be received by 14 July <%= Time.new.year %> or your room will be released for other attendees. Please contact the cabins crew at <a href="mailto:fnfreservations@gmail.com">fnfreservations@gmail.com</a> if you have any issues. </p>
<br/>
<p>FnF <%= Time.new.year %> Cabins<br/><a href="https://cabins.inappropirates.com">https://cabins.inappropirates.com</a></p>
