<p>Thank you for your payment of <%= number_to_currency @reservation.price %> for room <%= @reservation.accommodation.get_label %>. This completes your registration.  If you have any issues, please contact the cabins crew at <a href="mailto:fnfreservations@gmail.com">fnfreservations@gmail.com</a> See you at the campout!</p>
<br/>
<p>FnF <%= Time.new.year %> Cabins</p>
