
<% if logged_in? && @category == 'home' %>
    <%= render 'layouts/status' %>
<% end %>

<% @posts.each do |p| %>
    <div class="post">
      <div class="title"><h1><strong><%= p.title %></strong></h1></div>
      <div class="content"><%= p.body.try(:html_safe) %></div>
    </div>
<% end %>