// Place all the styles related to the accommodations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.accommodation {
  color: black;
  border-radius: 3px;
  background-color: #f5db90;
  border: 1px solid #f1b44a;
  margin-bottom: 12px;
  padding-right: 0;

  .accommodationhighlight {
    padding-left: 0;
    padding-right: 0;
    float: right;
  }

  .heading {
    padding-left: 2px;
    padding-bottom: 0;

    .buildinglabel {
      color: #171819;
      font-weight: bold;
      padding-left: 0;
    }

    .cabinlabel {
      color: #3f4041;
      font-weight: bold;
      font-size: 100%;
      padding-left: 0;
    }
  }

  .details {
    font-size: 90%;
    padding-top: 0;

    .label {
      margin-right: 12px;
      font-weight: bold;
      color: black;
      width: 40%;
    }

    .row {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .book {
    background-color: #641c1f;
    border-radius: 3px;
    padding: 6px;
    margin: 4px;

    .price {
      font-size: 125%;
      font-weight: bold;
      color: #f1b44a;
    }

    .quantity {
    }

    .btn {
      margin: 8px 0 0 0;
    }
  }

  .reservation {
    background-color: #641c1f;
    border-radius: 3px;
    padding: 6px;
    margin: 4px;
  }

  .reservation .title {
    border-bottom: none;
  }

  .reservation .roomies {

  }
}
