// Place all the styles related to the accommodations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.confirmation .accommodation {
  color: black;
  margin-bottom: 12px;
  padding-right: 0;
  border-radius: 3px;
  border: 1px solid #f1b44a;
  background-color: #dedfe0;
  width: 90%
}

.accommodation {
  color: black;
  margin-bottom: 12px;
  padding-right: 0;
  width: 100%;

  a {
    color: darkblue;
  }

  tr {
  }

  td {
      background-color: #dedfe0;
      border: 1px solid #ddd;
      .details {
        margin-left: 6px;
      }
  }

  td.header {
    width: 20%;
  }

  td.details {
    padding-left: 6px;
  }

  .accommodationhighlight {
    padding-left: 0;
    padding-right: 0;
    float: right;
  }

  .buildinglabel {
    color: #171819;
    font-weight: bold;
    padding-left: 4px;
  }

  .cabinlabel {
    color: #3f4041;
    font-weight: bold;
    font-size: 100%;
    padding-left: 0;
  }

  .label {
      margin-right: 12px;
      font-weight: bold;
      width: 40%;
  }

  .row {
      padding-top: 0;
      padding-bottom: 0;
  }

  .book {
    background-color: #778491;
    border-radius: 3px;
    padding: 6px;
    margin: 4px;

    .price {
      font-size: 125%;
      font-weight: bold;
      color: #70E481;
    }

    .quantity {
    }

    .btn {
      margin: 8px 0 0 0;
    }
  }

  .reservation {
    background-color: #641c1f;
    border-radius: 3px;
    padding: 6px;
    margin: 4px;
  }

  .reservation .title {
    border-bottom: none;
  }

  .roommies {
    color: #f5db90;
  }
}
