@import "bootstrap-sprockets";
@import "bootstrap";

* {
  font-family: 'MuseoSans-300', Helvetica, sans-serif;
}

body {
  background-image: image-url("2016_site_lines.png");
  background-repeat: repeat-x;
  background-color: #020204;
  background-position: center 4px;
  color: #bcbdc2;
}


.header {
  padding: 4px 0 0 0;
  color: #8ced28;

  .gearhead {
    background-image: image-url("2016_site_gearhead.png");
    background-repeat: no-repeat;
    background-position: center 0;
    background-color: black;
    height: 145px;
    width: 250px;
    margin: auto;
  }
}

.footer {
  text-align: center;
  color: #78797e;
  padding: 4px;
}

main {
  flex: 1;
  margin: 8px 12px 12px 12px;
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  padding: 6px;
  border: 1px solid #BBBBBB;
  background-color: rgba(22, 22, 22, 0.93);
  @include box_sizing;
}

/* forms */
label {
  width: 100%;
  float: left;
  clear: left;
}

input, textarea, select, .uneditable-input {
  color: black;
  width: 100%;
  @include box_sizing;
}

input {
  height: auto !important;
}

input[type=text].same-line {
  width: 50%;
}

input.same-line {
  width: auto;
}

.row {
  padding: 4px 4px 4px 12px;
}

.btn {
  padding: 4px 24px;
  border: 0 none;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0 none;
}

.btn-primary {
  background: #480b70;
  color: #bbbbbb;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background: #8ced28;
}

.btn-primary:active, .btn-primary.active {
  background: #007299;
  box-shadow: none;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.gray {
  color: #bbbbbb;
}

.green {
  color: #8ced28;
}

.link {
  border-radius: 3px;
  padding: 4px 12px;
  border: 0 none;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.link:focus, .header .link:active:focus, .header .link.active:focus {
  outline: 0 none;
}

.link-primary {
  color: #bbbbbb;
}

.link-primary:hover, .header .link-primary:focus, .header .link-primary:active, .header .link-primary.active, .header .open > .dropdown-toggle.link-primary {
  background: #480b70;
  text-decoration: none;
}

.link-primary:active, .header .link-primary.active {
  background: #007299;
  box-shadow: none;
}

div.headerlinks {
  border-radius: 3px;
  background-color: #78797e;

  .selected {
    background-color: #2E2F30;
  }
}

div.admin {
  border-top: 2px solid lightcoral;
  border-bottom: 2px solid lightcoral;
}

div.adminlinks {
  border-radius: 3px;
  background-color: lightcoral;
  margin-top: 6px;
  padding-bottom: 5px;
  color: black;

  .link-primary {
    color: black;
  }

  .link-primary:hover, .header .link-primary:focus, .header .link-primary:active, .header .link-primary.active, .header .open > .dropdown-toggle.link-primary {
    background-color: #78797e;
    text-decoration: none;
  }

  .link-primary:active, .header .link-primary.active {
    background: #007299;
    box-shadow: none;
  }
}

.center {
  text-align: center;
}

.admintitle {
  float: left;
  width: auto;
}

.right {
  text-align: right;
}

.titlewrapper .right {
  text-align: right;
  float: right;
  width: auto;
  margin-bottom: 10px;
  margin-top: 20px;
}

div.user {
}

.post {

}

.title {
  font-weight: bold;
  color: #8ced28;
  border-bottom: 1px solid #480b70;
  padding: 0;
}

.content {
  margin: 6px;
}

.field {
  margin-bottom: 15px;

  textarea {
    height: 200px;
  }

  label.same-line {
    width: auto;
    margin: 4px 12px 0 0;
    float: none;
    clear: both;
  }

  input[type='checkbox'] {
    width: auto;
  }

  input[type='radio'] {
    width: auto;
  }

  .description {
    margin: 4px 0 15px 40px;
  }

  textarea + .description {
    margin: 0 0 15px 0;
  }
}

.table-striped {
  > thead > tr {
    background-color: #480b70;
  }

  > tbody {
    > tr:nth-of-type(2n+1) {
      background-color: #666666;
    }

    > tr {
      background-color: #2E2F30;
    }
  }

  a {
    color: #8ced28;
  }
}

.status {
  border: 2px solid;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 15px;
  margin: 6px 12px 0 12px;
}

.sortable {
  background-color: #2E2F30;

  .asc {
    padding-right: 16px;
    background-image: image-url("up_arrow.png");
    background-repeat: no-repeat;
    background-position: right;
    width: 100%;
  }

  .desc {
    padding-right: 16px;
    background-image: image-url("down_arrow.png");
    background-repeat: no-repeat;
    background-position: right;
    width: 100%;
  }
}

.date {
  select {
    width: auto;
  }
}

.pagination {
  margin-bottom: 6px;
  margin-top: 0;
}

.indent {
  margin-left: 0;
}
