@import "bootstrap-sprockets";
@import "bootstrap";

* {
}

body {
  font-family: 'medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif';
  background-color: #f6f3f1;
  color: #29333a;
}

a, a:hover, a:focus {
  color: #83dddc;
}

.logo {
  background-color: #70E481;
  border-radius: 2px;

  .gearhead {
    height: 180px;
    background-image: image-url("big_gearhead.png");
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-position: -20px -10px;
  }
}


.header {
  padding: 0;
}

.footer {
  text-align: center;
  color: #282828;
  padding: 4px;
}

main {
  flex: 1;
  margin: 8px 12px 12px 12px;
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  padding: 6px;
  border: 1px solid #f9e9ae;
  background-color: rgba(22, 22, 22, 0.93);
  @include box_sizing;
}

/* forms */
label {
  width: 100%;
  float: left;
  clear: left;
}

input, textarea, select, .uneditable-input {
  color: black;
  width: 100%;
  @include box_sizing;
}

input {
  height: auto !important;
}

input[type=text].same-line {
  width: 50%;
}

input.same-line {
  width: auto;
}

.row {
  padding: 4px 4px 4px 12px;
}

.btn {
  padding: 4px 24px;
  border: 0 none;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0 none;
}

.btn-primary {
  background: #c84644;
  color: #f9e9ae;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  color: #23527c;
  background: #f1b44a;
}

.btn-primary:active, .btn-primary.active {
  background: #007299;
  box-shadow: none;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.gray {
  color: #f9e9ae;
}

.green {
  color: #83dddc;
}

.link {
  border-radius: 3px;
  padding: 4px 12px;
  border: 0 none;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.link:focus, .header .link:active:focus, .header .link.active:focus {
  outline: 0 none;
}

.link-primary {
  opacity: 0.74;
}

.link-primary:hover, .header .link-primary:focus, .header .link-primary:active, .header .link-primary.active, .header .open > .dropdown-toggle.link-primary {
  background: #f1b44a;
  text-decoration: none;
}

.link-primary:active, .header .link-primary.active {
  background: #007299;
  box-shadow: none;
}

div.headerlinks {
  border-radius: 3px;
  background-color: #2d94b5;

  .selected {
    background-color: #2E2F30;
  }
}

div.admin {
  border-top: 2px solid lightcoral;
  border-bottom: 2px solid lightcoral;
}

div.adminlinks {
  border-radius: 3px;
  background-color: lightcoral;
  margin-top: 6px;
  padding-bottom: 5px;
  color: black;

  .link {
    letter-spacing: 0;
    padding: 4px 6px;
    font-size: 85%;
  }

  .link-primary {
    color: black;
  }

  .link-primary:hover, .header .link-primary:focus, .header .link-primary:active, .header .link-primary.active, .header .open > .dropdown-toggle.link-primary {
    background-color: #78797e;
    text-decoration: none;
  }

  .link-primary:active, .header .link-primary.active {
    background: #007299;
    box-shadow: none;
  }
}

.center {
  text-align: center;
}

.admintitle {
  float: left;
  width: auto;
}

.right {
  text-align: right;
}

.titlewrapper .right {
  text-align: right;
  float: right;
  width: auto;
  margin-bottom: 10px;
  margin-top: 20px;
}

div.user {
}

.post {
  background: #fff;
  border-radius: 2px;
  border: 1px solid #ddd;
  margin: 4px 0 12px 0;
}

.title {
  font-family: "medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif";
  font-weight: bold;
  padding: 4px;

  h1 {
    margin: 4px 0 2px 0;
  }
}

.content {
  font-family: "medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif";
  margin: 6px;
  padding: 2px 2px 2px 10px;
  border-radius: 5px;
}

.field {
  margin-bottom: 15px;

  textarea {
    height: 200px;
  }

  label.same-line {
    width: auto;
    margin: 4px 12px 0 0;
    float: none;
    clear: both;
  }

  input[type='checkbox'] {
    width: auto;
  }

  input[type='radio'] {
    width: auto;
  }

  .description {
    margin: 4px 0 15px 40px;
  }

  textarea + .description {
    margin: 0 0 15px 0;
  }
}

.table-striped {
  > thead > tr {
    background-color: #2E2F30;
  }

  > tbody {
    color: black;
    > tr:nth-of-type(2n+1) {
      background-color: #eeeeee;
    }

    > tr {
      background-color: #acadae;
    }
  }

  a {
    color: #23527c;
  }
}

.status {
  border: 2px solid;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 15px;
  margin: 6px 12px 0 12px;

  a {
    color: darkblue;
  }
}

.sortable {
  background-color: #321213;

  .asc {
    padding-right: 16px;
    background-image: image-url("up_arrow.png");
    background-repeat: no-repeat;
    background-position: right;
    width: 100%;
  }

  .desc {
    padding-right: 16px;
    background-image: image-url("down_arrow.png");
    background-repeat: no-repeat;
    background-position: right;
    width: 100%;
  }
}

.date {
  select {
    width: auto;
  }
}

.pagination {
  margin-bottom: 6px;
  margin-top: 0;
}

.indent {
  margin-left: 0;
}
