// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/>

.post {

}

.title {
  font-weight: bold;
  color: #8ced28;
  border-bottom: 1px solid #480b70;
  padding: 0;
}

.content {
  margin: 6px;
}