<div class="post">
  <div class="title"><h3>Cabin Details</h3></div>
  <div class="content"><a href="/files/2016Cabin12.pdf">Cabins 1 & 2</a></div>
  <div class="content"><a href="/files/2016Cabin567.pdf">Cabins 5, 6 & 7</a></div>
</div>
