<div class="post">
  <div class="title"><h3>Saratoga Springs Map</h3></div>
  <div class="row center">
    <%= image_tag("ss_map.png") %>
  </div>
  <%= link_to 'Saratoga Springs Map PDF', '/stuff/SSMap.pdf' %>
</div>
