<div class="row adminlinks">
  <%= link_to 'home posts', admin_home_path, class: 'link link-primary' %>
  <%= link_to 'rule posts', admin_rule_path, class: 'link link-primary' %>
  <%= link_to 'FAQ posts', admin_faq_path, class: 'link link-primary' %>
  <%= link_to 'users / registrations', registrations_path, class: 'link link-primary' %>
</div>
