<div class="row footer">
  <div class="col-md-10 col-md-offset-1">
    California Foundation for the Advancement of Electronic Arts &copy; <%= Time.new.year %> blah blah blah
  </div>
</div><!-- end footer row -->

