<% if !user_has_reservation %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="status alert-info">
      <% if !current_user.tier.nil? %>
          <% if current_user.tier.available <= DateTime.now %>
              <strong>You can book now!</strong>
              <div>You are approved and your tier's booking window has been opened, get on it! (select <%= link_to 'book!', accommodations_path %> above)</div>
          <% else %>
            <strong>Your pre-registration has been approved!</strong>
            <div>Your pre-registration has been processed and you will be able to book accommodations starting on <strong><%= current_user.tier.available.strftime("%a %-d %b %Y %T %Z") %>. In the meantime, feel free to browse the lodgings, but you won't be able to reserve.</strong></div>
          <% end %>
      <% else %>
        <strong>You are pre-registered and waiting approval!</strong>
        <div>Your pre-registration has not yet been processed. Please contact <a href="mailto:fnfreservations@gmail.com">fnfreservations@gmail.com</a> if you think an error has occurred. In the meantime, feel free to browse the lodgings, but you won't be able to reserve until your tier opens up.</div>
      <% end %>
      </div>
    </div>
  </div> <!-- end status row -->
<% end %>
