<!DOCTYPE html>
<html>
<head>
  <title>Cabins</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="wrapper">
    <header>head</header>
    <main><%= yield %></main>
    <footer>FnF foot prints</footer>
  </div>
</body>
</html>
